services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: carrentalapi:latest
    restart: always
    depends_on:
      postgres-db:
        condition: service_healthy
    ports:
      - "5000:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=postgres-db;Port=5432;Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}